/* Variaveis */
:root{}

/* Body */
body{}

/* Header */
.header{
    margin-top: 10px;
    text-align: center;
}
.header__title{}

header h1 {
    font-size: 30px;
}

/* Footer */
.footer{}

/* Main */
.main{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
}

.linha{
    width: 40px;
    height: 50px;
    border: 1px solid black;
}

/* Media Queries */
@media screen and (min-width: 768px){}
@media screen and (min-width: 1024px){}