/* Variaveis */
:root{}

/* Body */
body{
    width: 100vw;
    height: 100vh;
}

/* Header */
.header{
    width: 100vw;
    height: 5vh;
    margin-top: 10px;
    text-align: center;
}
.header__title{}
header h1 {
    font-size: 30px;
}

/* Footer */
.footer{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer__section{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__resetButton{
    width: 30%;
    height: 20%;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.footer__winner{
    width: 40%;
    height: 70%;
    margin-top: 10px;
    background-image: url(../img/winner.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer__jogador{
    width: 100%;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
/* Main */
.main{
    width: 100vw;
    height: 60vh;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
}
.linha{
    width: 40px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogador1{
    animation: movimentoBolinha 1s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}
.jogador2{
    animation: movimentoBolinha 1s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
}
/* Outros */
.none{
    display: none;
}

@keyframes movimentoBolinha {
    0% {
        opacity: 0;
        transform: translateY(-30vw);
    }
    70% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
    }
}
/* Media Queries */
@media screen and (min-width: 768px){}
@media screen and (min-width: 1024px){}